* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.serif {
    font-family: 'Noto Serif KR', sans-serif !important;
}

.sans {
    font-family: 'Noto Sans KR', sans-serif !important;
}

.container {
    scroll-behavior: smooth;
}

/* 헤더&픽스 START*/

header {
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    padding: 0 38px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.2s ease-in;
    z-index: 999;
}

.header_logo {
    margin-top: 23px;
}

nav {
    height: inherit;
}

.main_menu {
    width: 830px;
    height: 60px;
    background-color: #28164E;
    border-radius: 100px;
    display: flex;
    padding: 0 46px;
    box-sizing: border-box;
    margin-top: 10px;
    transition: all 0.2s ease-in;
}

.main_menu.active {
    width: 1100px;
}

.main_menu>li {
    flex: 1;
}

.menus {
    position: relative;
}

.menus::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #5F3AAC;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}

.menus:hover::before {
    transform: scaleX(1);
}

.sub_menu a {
    position: relative;
}

.sub_menu a::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: transparent;
    border-radius: 100px;
    display: block;
    position: absolute;
    bottom: 45%;
    left: 0;
    transition: all 0.5s ease;
}

.sub_menu a:hover::before {
    left: 10%;
    background-color: #5F3AAC;
}

.main_menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 18px 0;
}

.sub_menu a {
    font-size: 14px;
    font-weight: 400;
    padding: 25px 0;
}

/* 언어 팝업 START */

.lang_login {
    width: 68px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.lang_login li {
    cursor: pointer;
}

.lang_on {
    width: 54px;
    height: 124px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 13px 0;
    box-sizing: border-box;
    top: 70px;
    right: 66px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

.lang_on.active {
    display: flex;
}

.lang_on a:hover {
    text-decoration: underline;
}

/* 언어 팝업 END */

/* 로그인팝업 START */

.login {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.login.acctive {
    display: flex;
}

.login_on {
    background-color: #fff;
    width: 500px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.close_btn {
    position: absolute;
    right: 20px;
    top: -10px;
}

.close_btn a {
    width: 46px;
    height: 46px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_on h1 {
    font-size: 34px;
    font-weight: 300;
}

.login_input {
    margin-top: 30px;
}

.login_input li {
    width: 400px;
    height: 97px;
}

.ps {
    margin-top: 26px;
}

.login_input p {
    font-size: 18px;
    font-weight: 500;
}

.login_input input {
    width: 400px;
    height: 60px;
    border-radius: 13px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}

.login_on>div {
    margin-top: 30px;
}

.login_on>div button {
    width: 194px;
    height: 60px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.log_in {
    background-color: #5F3AAC;
}

.new_account {
    background-color: #BF713C;
}

.login_on>div button:hover {
    box-shadow: inset 0px 0px 70px rgba(0, 0, 0, 0.4);
}

.account_search {
    display: flex;
    width: 158px;
    justify-content: space-between;
    margin-top: 40px;
}

.account_search li a {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
}

.account_search li a:hover {
    color: #000;
}

/* 로그인팝업 END */

/* 헤더 active START */

header.active {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

header.active .header_logo img,
header.active .lang_btn img,
header.active .login_btn img {
    filter: invert(23%) sepia(34%) saturate(6819%) hue-rotate(253deg) brightness(72%) contrast(80%);
}

header.active .main_menu {
    background-color: transparent;
}

header.active .main_menu a {
    color: #000;
}

/* 헤더 active END */

.fix_btn {
    position: absolute;
    right: 50px;
    bottom: 40px;
    position: fixed;
    z-index: 999;
}

.quick_menu_container {
    overflow: hidden;
}

.quick_menu {
    transform: translateY(100%);
    width: 90px;
    height: 400px;
    border-radius: 500px;
    padding: 10px 0;
    box-sizing: border-box;
    background-image: linear-gradient(#5F3AAC, #BF713C);
    transition: all 0.8s ease-in-out;
}

.quick_menu.active {
    transform: translateY(0%);
}

.quick_menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.quick_menu ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.quick_menu ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quick_menu ul li p {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
}

.quick_btn {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background-color: #5F3AAC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.quick_btn p {
    font-size: 22px;
    font-weight: 500;
}

.top_btn {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background-color: #5F3AAC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.top_btn img.active {
    transform: translateY(-20%);
    transition: all 0.3s ease-in-out;
}

/* 헤더&픽스 END */

/* 스크롤 스냅 START */

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* y축 스냅 */
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    scroll-snap-align: start;
    /* 섹션 시작 부분에서 스냅 */
    overflow: hidden;
}

/* 스크롤 스냅 END */

/* Section 1 START */

.section1 {
    background-image: url(../img/sec1/visual_01.png);
}

/* Section 1 End */

/* Section 2 START */

.section2 {
    background-color: #FDF0E3;
    background-image: url(../img/sec2/sec01_bg.png);
    background-position: center;
    position: relative;
}

.sec2_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 14%;
}

.sec2_img_container {
    width: 486px;
    height: 608px;
    border-radius: 500px;
    overflow: hidden;
    margin-right: 100px;
}

.sec2_img {
    width: 100%;
    height: 100%;
    background-image: url(../img/sec2/listfile_1743469519_0.jpg);
    background-position: center;
    background-size: cover;
}

.sec2_text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec2_text_container p {
    text-align: center;
}

.sec2_text_container p:nth-of-type(1) {
    color: #5F3AAC;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.sec2_text_container p:nth-of-type(2) {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 65px;
}

.sec2_text_container p:nth-of-type(2) span {
    color: #5F3AAC;
}

.sec2_text_container p:nth-of-type(3) {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.sec2_text_container p:nth-of-type(4) {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 14px;
}

.sec2_text_container p:nth-of-type(5) {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

/* Section 2 END */

/* Section 3 START */

.section3 {
    background-color: #28164E;
}

.sec3_container {
    width: 100%;
    height: 100%;
}

.sec3_title {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-bottom: 35px;
}

.sec3_title li:nth-of-type(1) {
    font-size: 12px;
    font-weight: 400;
    color: #FDF0E3;
    text-align: center;
    margin-bottom: 20px;
}

.sec3_title li:nth-of-type(2) {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.sec3_menus {
    width: 100%;
    height: 112px;
    border-top: 1px solid rgba(239, 219, 196, 0.5);
    border-bottom: 1px solid rgba(239, 219, 196, 0.5);
}

/* TEST */

.sec3_tab {
    width: 100%;
}

/* 탭 버튼 영역 */
.sec3_tab_buttons {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(239, 219, 196, 0.5);
    border-bottom: 1px solid rgba(239, 219, 196, 0.5);
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
}

.sec3_tab_button {
    /* 버튼 너비 동일하게 */
    width: 120px;
    height: 74px;
    cursor: pointer;
    background: none;
    border: none;
}

.sec3_tab_button p {
    color: #EFDBC4;
    opacity: 0.3;
}

.sec3_tab_button img {
    opacity: 0.3;
}

/* 선택된 탭 버튼 스타일 */
.sec3_tab_button.active p{
    opacity: 1;
}

.sec3_tab_button.active img{
    opacity: 1;
}

/* 콘텐츠 영역 (그리드 6등분 고정) */
.sec3_tab_contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* 6등분, 아이템 사이 간격 */
    border: 1px solid #ccc;
    border-top: none;
    /* 버튼과 겹치는 부분은 위쪽 테두리 제거 */
    padding: 20px;
}

/* 개별 콘텐츠 아이템 */
.sec3_tab_content {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    /* 애니메이션 부드럽게 */
}

/* 전환 시 애니메이션 효과 (살짝 축소 + 아래로 이동 + 투명) */
.sec3_tab_content.active {
    opacity: 0;
    transform: scale(0.96) translateY(20px);
}

/* Section 3 END */

/* Section 4 START */



/* Section 4 END */

/* Section 5 START */



/* Section 5 END */

/* Section 6 START */



/* Section 6 END */

/* Section 7 START */



/* Section 7 END */

/* Footer START */

footer {
    height: 285px;
    background-color: #000;
    scroll-snap-align: start;
}

/* Footer 7 END */